/**
* @name Nocturnal
* @version 3.0.1
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @author Spectra
* @invite PZdnCVD
* @source https://github.com/xcruxiex/themes
* @website https://betterdiscord.app/theme/Nocturnal
*/

/*
* very handy tool https://syndishanx.github.io/Website/Update_Classes.html
*/

@import url("https://xcruxiex.github.io/themes/themes-cores/nocturnal.css");

@import url("https://xcruxiex.github.io/themes/core/badges.css");
@import url("https://xcruxiex.github.io/themes/core/custom-font.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /* Radial Status */
@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css"); /* Horizontal Server List */

:root {
    --backgroundColor01: #1f1d2e;
    --backgroundColor02: #191724;
    --backgroundColor03: #1f1d2e;
    --backgroundColor04: #26233a;
    --mainColor: #ebbcba;
    --gradientColor01: #ebbcba;
    --gradientColor02: #ea9a97;

    --textColor01: #e0def4;
    --textColor02: #908caa;
    --textColor03: #6e6a86;

    /* Better Hljs */
    --backgroundCode: #191724;
    --backgroundName: rgba(0, 0, 0, 0.2);

    /* Radial Status */
    --rs-small-spacing: 2px;
    --rs-large-spacing: 3px;
    --rs-width: 2px;
    --rs-avatar-shape: 20%;
    --rs-online-color: #9ccfd8;
    --rs-idle-color: #f6c177;
    --rs-dnd-color: #eb6f92;
    --rs-offline-color: #6e6a86;
    --rs-streaming-color: #c4a7e7;
    --rs-invisible-color: #6e6a86;
    --rs-phone-visible: block;
    --rs-phone-color: var(--rs-online-color);

    --customFont: "gg sans", sans-serif;
}

:root {
    --HSL-server-icon-size: 20px;
    --HSL-server-spacing: 20px;
    --HSL-server-direction: column;
}

/* fix */
/* more consistent colors */
:root,
.theme-dark {
    --background-primary: var(--backgroundColor02);
    --background-secondary: var(--backgroundColor02);
    --background-floating: var(--backgroundColor02);
    --background-accent: var(--backgroundColor01);
    --background-modifier-hover: var(--backgroundColor01);
    --background-modifier-selected: var(--backgroundColor04);
    --background-modifier-active: var(--backgroundColor04);
    --text-normal: var(--textColor01);
    --header-primary: var(--textColor01);
    --interactive-active: var(--textColor01);
    --header-secondary: var(--textColor02);
    --channels-default: var(--textColor02);
    --interactive-normal: var(--textColor02);
    --text-muted: var(--textColor03);
    --interactive-muted: var(--textColor03);
    --divider-color: var(--rs-dnd-color);
    --status-danger: var(--rs-dnd-color);
    --text-positive: var(--rs-online-color);
    --scrollbar-auto-scrollbar-color-thumb: var(--backgroundColor03);
    --scrollbar-auto-scrollbar-color-track: var(--backgroundColor02);
    --scrollbar-auto-thumb: var(--backgroundColor03);
    --scrollbar-auto-track: var(--backgroundColor02);
    --scrollbar-thin-thumb: var(--backgroundColor03);
    --scrollbar-thin-track: hsl(var(--backgroundColor02));
}
::selection {
    background: var(--mainColor);
    color: var(--backgroundColor01);
}

/* titlebar removal */
div[class*="titleBar-"] {
    display: none !important;
}

/* dividers instead of folder icons + expanded folders background removal */
.expandedFolderIconWrapper__458cf {
    transform: scale(0.1, 2);
}
#app-mount .guilds__2b93a [class*=expandedFolderBackground] {
    background: transparent !important;
}

/* server icon badges adjustment */
.lowerBadge__669e7 {
    transform: translate(5px, 2px) !important;
}
.base__92a12 {
    min-width: calc(var(--HSL-server-icon-size) / 2) !important;
    min-height: calc(var(--HSL-server-icon-size) / 2) !important;
    line-height: calc(var(--HSL-server-icon-size) / 2) !important;
    font-size: calc(var(--HSL-server-icon-size) / 3) !important;
    width: unset !important;
    height: unset;
}
.upperBadge_c7cfb3 {
    transform: translate(5px, -2px) !important;
}
.iconBadge__2abac {
    width: unset !important;
}
.upperBadge_c7cfb3 svg.icon__92653 {
    width: calc(var(--HSL-server-icon-size) / 3) !important;
    height: calc(var(--HSL-server-icon-size) / 3) !important;
}

/* custom active server pill */
#app-mount .guilds__2b93a [class*=pill] {
    top: calc(var(--server-size) / -2 + var(--server-size) + 8px) !important;
}
.item_f9d377 {
    background-color: var(--mainColor);
}
#app-mount .guilds__2b93a [class*=pill] span {
    width: 2px !important;
}

/* top bar removal + hoverable channel description and search bar */
#app-mount .container__11d72.themed_b152d4 {
    background: unset !important;
    background-image: linear-gradient(
        var(--backgroundColor02) 30%,
        70%,
        transparent
    ) !important;
}
.container__11d72 {
    position: absolute !important;
}
.children__32014 > *:not(.topic__16ae3.expandable_ddf73d, .topPill__0cdf1) {
    display: none;
}
.topic__16ae3.expandable_ddf73d,
.topPill__0cdf1,
.search_ac353c {
    opacity: 0;
    transition: opacity 0.2s;
}
.toolbar__88c63 > *:not(.search__07df0) {
    visibility: hidden;
    width: 0;
    margin: 0;
}
.topic__16ae3.expandable_ddf73d:hover,
.topPill__0cdf1:hover,
.search_ac353c.open_d3ab4e {
    opacity: 1;
}
.searchBar_e0c60b,
.resizeHandle_f1a098 {
    background: transparent;
}

/* custom unread bar + clickable elements adjustment */
#app-mount .newMessagesBar__8b6d7,
.barButtonBase__8fa46 {
    background-color: var(--backgroundColor03);
    color: var(--mainColor);
}
.newMessagesBar__8b6d7.barBase__4e0ba {
    padding-top: 40px;
}
.tabBody_b3d268,
.searchResultsWrap__9f374 {
    margin-top: 40px;
}

/* cleaner floating boxes, cards */
#app-mount .emptyCard_f82dde .inset__0bfb3,
#app-mount .emptyCard_f82dde .section_efc22d,
#app-mount .wrapper__6e669 .inset__0bfb3,
#app-mount .wrapper__6e669 .section_efc22d {
    box-shadow: none;
}

/* consistent avatar corner rounding */
.avatar__08316,
.avatar_a56eee {
    border-radius: var(--rs-avatar-shape);
}
.svg__7900e.avatarHint__8e5b9 foreignObject {
    mask: none !important;
}
.avatarHintInner__3d1c9 {
    border-radius: var(--rs-avatar-shape);
    transform: scale(0.9);
}

/* better readability of user mentions */
#app-mount .wrapper__2d9b1 {
    color: var(--backgroundColor02);
    text-shadow: none;
}

/* custom unread divider */
.isUnread__6f880 .content_d67847 {
    border: 1px solid var(--divider-color);
}
.unreadPill__715fc {
    color: var(--backgroundColor02);
}

/* message input field with borders + lesser buttons + consistent emoji picker colors */
.channelTextArea__2e60f.channelTextArea__56a36 {
    border: 3px solid var(--backgroundColor04) !important;
}
.channelTextArea__2e60f.channelTextArea__56a36:hover {
    border: 3px solid var(--mainColor) !important;
}
.channelTextArea__2e60f.channelTextArea__56a36:focus-within {
    border: 3px solid var(--backgroundColor03) !important;
}
.buttons_ce5b56 > *:not(:last-child) {
    display: none;
}
.sprite__294b3 {
    filter: sepia(1) brightness(0.8) hue-rotate(300deg) !important;
}
.inner__9fd0b > div:nth-child(2) {
    order: 2;
}
.inner__9fd0b > div:nth-child(3) {
    order: 1;
}
.inner__9fd0b > div:nth-child(4) {
    order: 3;
}
