:root {
    --color-light: #26233a;
    --color-dark: #1f1d2e;
    --color-darker: #191724;
    --color-darkest: #191724;
    --scrollbar: #1f1d2e;
    --black: #191724;
    --black-ish: #19172400;
    --realblack: #191724;
    --blacker-ish: #191724;
    --blacker: #191724;
    --lightblack: #191724;
    --darkergrey: #26233a;
    --bedarkgrey: #1f1d2e;
    --thegrey: #191724;
    --begrey: #26233a;
    --littlegrey: #6E6A86;
    --darkgrey: #191724;
    --grey: #1f1d2e;
    --lightgrey: #26233a;
    --lightergrey: #26233a;
    --grey-ish: #26233a;
    --darkerwhite: #6e6a86;
    --darkwhite: #908caa;
    --white: #e0def4;
    --darkblue: #d7827e;
    --blue: #ebbcba;
    --blu: #ebbcba;
    --brightblue: #ebbcba;
    --blue-ish: #ea9a97;
    --blue-er: #ea9a97;
    --lightblue: #ebbcba;
    --darkgreen: #286983;
    --green: #31748f;
    --ingame: #31748f;
    --online: #9ccfd8;
    --offline: #6e6a86;
    --gold: #f6c177;
    --bronze: #ebbcba;
    --purple: #c4a7e7;
    --pink: #ebbcba;
    --red: #eb6f92;
    --orange: #d7827e;
    --yellow: #ea9d34;
}